<div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>

<div class="user">

  <div class="tech">
    <h2>Data</h2>
    <i class="devicon-python-plain colored"></i>
    <i class="devicon-pandas-plain colored"></i>
    <p>Dataset curation (FiftyOne, CVAT) and development of annotation guidelines.</p>
  </div>

    <div class="tech">
    <h2>R&D</h2>
    <i class="devicon-opencv-plain colored"></i>
    <i class="devicon-pytorch-original colored"></i>
<i class="devicon-matplotlib-plain"></i>

    <p>Computer Vision, Custom Model architecture, experiment tracking (MLFlow), and metrics, analysis.</p>
  </div>

  <div class="tech">
    <h2>MLOps</h2>
    <i class="devicon-docker-plain colored"></i>
    <i class="devicon-git-plain colored"></i>
    <i class="devicon-amazonwebservices-plain-wordmark colored"></i>
    <p>Containerization (Docker), inference serving (Triton), AWS, and version control.</p>
  </div>

</div>
